 <% layout('layouts/boilerplate') -%>
 <br/><br/>
 <div class="row mt-3">
 <div class="col-8 offset-2">
    <h2>Edit Your Listing</h2>
    <form action="/listings/<%= listing._id %>?_method=PUT" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label" >Title</label>
             <input type="text" name="listing[title]" value="<%= listing.title%>" class="form-control" required/>
             <div class="valid-feedback">
      Title looks good!
    </div>
    </div>
   <div class="mb-3 col-md-10">
  <label class="form-label">Original Listing Image</label>

  <div class="mt-2">
    <img 
      src="<%= originalImageUrl %>" 
      class="img-fluid rounded shadow-sm"
      style="max-width: 200px;"
      style="max-height: 150px;"
    />
  </div>
</div>
      <div class="mb-3 col-md-10">
  <label for="imageInput" class="form-label">Upload New Image</label>
  <input
    type="file"
    name="listing[images]"
    class="form-control"
    id="imageInput"
  />
  <div class="invalid-feedback" id="fileError"></div>
</div>
        
        <div class="md-3 col-md-8">
            <label for="description" class="form-label" >Description</label>
            <textarea type="text" name="listing[description]"class="form-control" required><%= listing.description%></textarea>
             <div class="invalid-feedback">
      Description is required.
    </div>
        </div>

        <div class="mb-3">
  <label class="form-label">Full Address</label>
  <input 
    type="text" 
    name="listing[address]" 
    value="<%= listing.address %>"
    class="form-control"
    required
  />
</div>
        
       <div class="row">
         <div class="mb-3 col-md-4">
            <label for="price" class="form-label" >Price</label>
            <input type="text" name="listing[price]" value="<%= listing.price%>" class="form-control" required/>
            <div class="invalid-feedback">
      Price is required.
    </div>
        </div>
        
        
        <div class="md-3 col-md-8">
            <label for="location" class="form-label" >City</label>
              <input type="text" name="listing[location]" value="<%= listing.location%>" class="form-control" required/>
                <div class="invalid-feedback">
      Location is required.
    </div>
        </div>
       </div>
       
      <div class="row">
         <div class="md-3 col-md-6">
            <label for="country" class="form-label" >Country</label>
              <input type="text" name="listing[country]" value="<%= listing.country%>" class="form-control" required/>
                <div class="invalid-feedback">
      Country is required.
    </div>
        </div>


        <div class="mb-3 col-md-6">
  <label class="form-label">Category</label>

  <% const categories = ["Trending","Rooms","Iconic Cities","Amazing Pools","PG","Arctic","Camping","Domes","Boats","Castle"]; %>

  <select name="listing[category]" class="form-select" required>
    <% categories.forEach(cat => { %>
      <option value="<%= cat %>"
        <%= listing.category === cat ? "selected" : "" %>>
        <%= cat %>
      </option>
    <% }) %>
  </select>
</div>
      </div>
        
      <div class="mb-3">
  <label class="form-label">WhatsApp Number</label>
  <input 
    type="text"
    name="listing[whatsapp]"
    value="<%= listing.whatsapp %>"
    class="form-control"
    required
  />
</div>
       
      
       
        <button class="btn btn-dark edit-btn mt-3">Edit Listing</button>
         <br/><br/>
</div>
<script>
  const imageInput = document.getElementById("imageInput");
  const fileError = document.getElementById("fileError");
  const maxSize = 2 * 1024 * 1024; // 2MB

  imageInput.addEventListener("change", function () {
    const file = this.files[0];

    if (!file) return; // If no file selected, do nothing

    if (file.size > maxSize) {
      fileError.textContent = "File must be less than 2MB!";
      imageInput.classList.add("is-invalid");
      this.value = ""; // remove large file
    } else {
      fileError.textContent = "";
      imageInput.classList.remove("is-invalid");
    }
  });
</script>
</div>
